<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>811670352341-b7mku9461pfsuksresdgv55l4m8ur5no.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811670352341-b7mku9461pfsuksresdgv55l4m8ur5no</string>
	<key>API_KEY</key>
	<string>AIzaSyAIb-1s5q4MLO8GQhTAHLmnzbsC6el3d9I</string>
	<key>GCM_SENDER_ID</key>
	<string>811670352341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miggsantos.uberishdev</string>
	<key>PROJECT_ID</key>
	<string>uberish-28f1b</string>
	<key>STORAGE_BUCKET</key>
	<string>uberish-28f1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:811670352341:ios:ab494b0fcb856017</string>
	<key>DATABASE_URL</key>
	<string>https://uberish-28f1b.firebaseio.com</string>
</dict>
</plist>